@charset "utf-8";

:root{
        --point-gra: linear-gradient(135deg,rgba(0, 217, 215, 1) 0%, rgba(0, 173, 216, 1) 30%, rgba(91, 89, 217, 1) 50%, rgba(188, 0, 217, 1) 70%);
        --bar-gra: linear-gradient(90deg,rgba(0, 217, 215, 1) 0%, rgba(0, 173, 216, 1) 40%);

        --point-color: #6439EA;
        --point-trans: rgba(100, 57, 234, .25);

        --base-border: 1px solid rgba(238, 238, 238, .15);
        --black-border: rgba(41, 42, 46, .8);
        --point-border: rgba(100, 57, 234, .5);

        --background: rgba(41, 42, 46, .15);

        --main-font: #fff;
        --sub-font: #aaa;

	--space-7: 7px;
        --space-11: 11px;
        --space-15: 15px;
        --space-25: 25px;
        --space-35: 35px;
        --space-55: 55px;
        --space-80: 80px;

        /* font-size */
        --huge-f: clamp(1.5rem, 6vw + 1.5rem, 6rem);
}

/* 기본 폰트 및 크기 설정 */

  /* 나눔고딕 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100..900&display=swap');

/* 노토산스 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 프리텐다드 */
@font-face {
font-family: 'Pretendard';
src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
font-weight: 100;
font-style: normal;
}
        @font-face {
font-family: 'Pretendard';
src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
font-weight: 200;
font-style: normal;
}
        @font-face {
font-family: 'Pretendard';
src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
font-weight: 300;
font-style: normal;
}
        @font-face {
font-family: 'Pretendard';
src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
font-weight: 400;
font-style: normal;
}
        @font-face {
font-family: 'Pretendard';
src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
font-weight: 500;
font-style: normal;
}
        @font-face {
font-family: 'Pretendard';
src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
font-weight: 600;
font-style: normal;
}
        @font-face {
font-family: 'Pretendard';
src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
font-weight: 700;
font-style: normal;
}
        @font-face {
font-family: 'Pretendard';
src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
font-weight: 800;
font-style: normal;
}
        @font-face {
font-family: 'Pretendardk';
src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
font-weight: 900;
font-style: normal;
        }






body{
        overflow-x: hidden;
        background: #0A0A0A;
        font-size: 18px;
        letter-spacing: 1px;
        text-decoration: none;
}






/* main{overflow-x: hidden;} */

a{color: var(--main-font); text-decoration: none;}

  *{font-family: 'Pretendard', 'Noto Sans KR', 'Nanum Gothic', sans-serif; letter-spacing: .5px;}
h2{color: var(--main-font); font-weight: 700;}
h1, h3, h4, h5, h6{color: var(--main-font); font-weight: 600;}

i{font-size: 17px;}

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input{font-family: 'Pretendard', 'Noto Sans KR', 'Nanum Gothic', sans-serif;
color: var(--main-font); font-weight: 500; letter-spacing: 1px;}

footer{
font-family: 'Pretendard', 'Noto Sans KR', 'Nanum Gothic', sans-serif; color: var(--main-font); font-size: 14px;}

footer *{color: var(--main-font); font-weight: 400; font-size: 14px;}

footer > .f_box > address{font-weight: 400; font-size: 14px;}




/* 전체 스크롤바 디자인 */
::-webkit-scrollbar {
        width: 6px;
}

/* 스크롤 트랙 (배경 부분) */
::-webkit-scrollbar-track {
        background: transparent;
}

/* 스크롤 손잡이 (움직이는 부분) */
::-webkit-scrollbar-thumb {
        background: var(--point-trans);
        border-radius: 10px;
        transition: 1s;
        cursor: pointer;
}

/* 마우스 오버 시 색상 */
::-webkit-scrollbar-thumb:hover {
        background: var(--point-color);
}




/* tablet 해상도 */
@media screen and (max-width: 1750px){

	body{font-size: 14px;}

}




/* mob + tab 해상도 */
@media screen and (max-width:767px) {

        body{
        font-size: 12px;
        overflow-x: hidden;
        text-decoration: none;
        }
        
        footer{
        font-family: 'Pretendard', 'Noto Sans KR', 'Nanum Gothic', sans-serif; color: #fff; font-size: 12px;}
        
        footer *{color: #fff; font-weight: 400; font-size: 12px;}
        
        footer > .f_box > address{font-weight: 400; font-size: 12px;}
        
        }