/* layout */
/* "Oleo Script" */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Oleo+Script:wght@400;700&display=swap');
/* "Noto Sans KR" */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
/* 'IBM Plex Sans KR' */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;500;600;700&display=swap');
/* "Sora" */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
/* "Cinzel" */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Sora:wght@100..800&display=swap');

html, body {
  background-color: #111;
  font-family: "Sora", 'IBM Plex Sans KR', "Noto Sans KR";
  color: #222;
  overflow-x: hidden;
  transition: 5s;
  /* overflow-y: hidden; */
}

body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track {
  transition: .5s;
}
body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  box-shadow: inset 0 0 50px #555;
}

/* 커서 */
/* .cursor{
  position: fixed;s
  z-index: 9999;
  width: 30px;
  height: 30px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  background: #fec55a;
  border-radius: 50%;
  box-shadow: 0 0 20px #fec55a;
}
.cursor::before{
  content: "";
  width: 50px; height: 50px;
  background: rgba(254, 197, 90, .5);
} */



.logo{
  position: fixed;
  top: 5%; left: -1%;
  font-size: 1vw;
  color: #FBF8F1;
  font-family: "Oleo Script"; 
  text-transform: uppercase;
  letter-spacing: 3px;
  transform: rotate(-90deg);
  z-index: 9000;
  transition: 0.5s;
  display: none;
}


header{width: 100%;}


/* scroll down icon*/
#top_btn{
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 1.5%;
  transition: 2s;
  z-index: 9000;
  right: 48%;
  transform: translateX(-50%);
}
.scroll{
  background: none;
  width: 2px; height: 48px;
  border-radius: 30px;
  margin: 0px auto;
  transition: .5s;
  opacity: 0;
}
#top_btn:hover .scroll{
  height: 22px; width: 4px;
  transform: rotate(40deg) translate(13px, 13px);
}
.cur{
  position: absolute;
  left: 50%;
  background: #F4F3EF;
  width: 6px; height: 12px;
  border-radius: 30px;
  transform: translate(-50%, -50%);
  animation: scroll 2s infinite;
}
#top_btn:hover .cur{
  width: 4px; height: 22px;
  transform: rotate(-80deg);
  animation: none;
  top: -8px; left: 11px;
}

@keyframes scroll{
  0%{top: 20%;}
  80%{top: 80%;}
  100%{top: 20%;}
}

.top{
  position: absolute;
  bottom: 5px; right: 5px;
  font-size: 1vw;
  display: none;
}

.top_scr{
  position: fixed;
  bottom: 3%;
  right: 48%;
  transform: translateX(-50%);
  color: #fff;
  animation: top_scroll 2s infinite;
}

@keyframes top_scroll{
  0%{bottom: 6%;}
  80%{bottom: 2%;}
  100%{bottom: 6%;}
}



/* load */
#load{
  background: #000;
  position: fixed;
  top: 0px; left: 0px;
  width: 100%; height: 100vh;
  z-index: 9001;
  display: none;
}
.z{
  font-family: "Oleo Script"; 
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30vw;
  color: #fff;
  z-index: 1;
}
.h{
  font-family: "Oleo Script"; 
  position: absolute;
  z-index: 2;
  font-size: 7.2vw; 
  top: 58.3%; right: 43%;
  color: #000;
    animation: h 3s;
}
@keyframes h{
  0%{font-size: 1vw; top: 23%; right: 37%; color: #fff;}
  100%{font-size: 7.2vw; top: 58.3%; right: 43%; color: #000;}
}




/* footer */
.contact{height: 100vh !important;}
.contact > div{position: absolute; top: 50%; right: -1%; height: 400px; background: #ff0;}
.contact > div > h2{
  font-family: "Cinzel";
  font-weight: 600;
  font-size: 13vw;
  text-transform: uppercase;
  height: 220px;
  background: #f00;
}
.mail{
  position: absolute;
  top: 35%; right: 1%;
  font-size: 1.8vw;
  transition: 1s;
}
.phone{
  position: absolute;
  top: 42%; right: 1%;
  font-size: 1.5vw;
  transition: 1.5s;
}

/* .contact > .q{
  position: absolute;
  top: 53%; left: 22%;
}
.contact > .q > span{
  padding: 15px 34px;
  border-radius: 30px;
  border: 1px solid rgb(0, 0, 0, .5);
  font-size: 18px;
  margin: 0px 15px;
  cursor: pointer;
}
.contact > .q > span:hover{
  background: #000; color: #fff;
}

.contact > .a > span{
  background: #fff;
  width: 250px; height: 150px;
  border-radius: 20%;
  position: absolute;
  top: 10%; right: 20%;
  line-height: 150px;
  text-align: center;
  font-size: 21px;
  opacity: 0;
  transition: 1s;
}
.contact > address{
  text-align: right;
  position: absolute;
  bottom: 3%; right: 3%;
}

.bye{width: 20%; height: 100%; position: relative;}
.bye > p{
  text-align: left;
  font-size: 3vw;
  position: absolute;
  bottom: 12%; left: 0px;
  color: rgba(0, 0, 0, .3);
  font-family: 'IBM Plex Sans KR';
  letter-spacing: 3px;
} */