/* layout */
/* "Oleo Script" */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Oleo+Script:wght@400;700&display=swap');
/* "Noto Sans KR" */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
/* 'IBM Plex Sans KR' */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;500;600;700&display=swap');
/* "Sora" */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
/* "Cinzel" */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Sora:wght@100..800&display=swap');

html, body {
  background-color: #fff;
  font-family: "Sora", 'IBM Plex Sans KR', "Noto Sans KR";
  color: #222;
  overflow-x: hidden;
  transition: 5s;
  /* overflow-y: hidden; */
}

body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track {
  transition: .5s;
}
body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  box-shadow: inset 0 0 50px #555;
}

/* 커서 */
/* .cursor{
  position: fixed;s
  z-index: 9999;
  width: 30px;
  height: 30px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  background: #fec55a;
  border-radius: 50%;
  box-shadow: 0 0 20px #fec55a;
}
.cursor::before{
  content: "";
  width: 50px; height: 50px;
  background: rgba(254, 197, 90, .5);
} */



.logo{
  position: fixed;
  top: 5%; left: -1%;
  font-size: 1vw;
  color: #FBF8F1;
  font-family: "Oleo Script"; 
  text-transform: uppercase;
  letter-spacing: 3px;
  transform: rotate(-90deg);
  z-index: 9000;
  transition: 0.5s;
  display: none;
}


header{width: 100%;}

.mnu{
  position: fixed;
  top: 0px; right: 0px;
  border-bottom-left-radius: 100%;
  background: #000;
  width: 200px; height: 60px;
  color: #fff;
  text-align: center;
  line-height: 70px;
  font-size: 26px;
  z-index: 9999;
  display: none;
  padding-left: 50px;
  box-sizing: border-box;
}


/* scroll down icon*/
#top_btn{
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 1.5%;
  transition: 2s;
  z-index: 9000;
  right: 48%;
  transform: translateX(-50%);
}
.scroll{
  background: none;
  width: 2px; height: 48px;
  border-radius: 30px;
  margin: 0px auto;
  transition: .5s;
  opacity: 0;
}
#top_btn:hover .scroll{
  height: 22px; width: 4px;
  transform: rotate(40deg) translate(13px, 13px);
}
.cur{
  position: absolute;
  left: 50%;
  background: #F4F3EF;
  width: 6px; height: 12px;
  border-radius: 30px;
  transform: translate(-50%, -50%);
  animation: scroll 2s infinite;
}
#top_btn:hover .cur{
  width: 4px; height: 22px;
  transform: rotate(-80deg);
  animation: none;
  top: -8px; left: 11px;
}

@keyframes scroll{
  0%{top: 20%;}
  80%{top: 80%;}
  100%{top: 20%;}
}

.top{
  position: absolute;
  bottom: 5px; right: 5px;
  font-size: 1vw;
  display: none;
  color: #FBF8F1;
}

/* .top_scr{
  position: fixed;
  bottom: 3%;
  right: 48%;
  transform: translateX(-50%);
  color: #fff;
  animation: top_scroll 2s infinite;
} */

@keyframes top_scroll{
  0%{bottom: 6%;}
  80%{bottom: 2%;}
  100%{bottom: 6%;}
}



/* load */
#load{
  background: #000;
  position: fixed;
  top: 0px; left: 0px;
  width: 100%; height: 100vh;
  z-index: 9001;
  display: none;
}
.z{
  font-family: "Oleo Script"; 
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30vw;
  color: #fff;
  z-index: 1;
}
.h{
  font-family: "Oleo Script"; 
  position: absolute;
  z-index: 2;
  font-size: 7.2vw; 
  top: 58.3%; right: 43%;
  color: #000;
    animation: h 3s;
}
@keyframes h{
  0%{font-size: 1vw; top: 23%; right: 37%; color: #fff;}
  100%{font-size: 7.2vw; top: 58.3%; right: 43%; color: #000;}
}




/* footer */
/* .contact{background: #191919;} */
.c_h2_box{
  height: 300px;
  width: 600px;
  position: absolute;
  top: 20%; left: 17%;
  /* background: #f0f; */
} 
.c_h2_box > h2{
  font-size: 95px;
  color: #fff;
  font-weight: bold;
  position: absolute;
}
.c_h2_box > h2:first-child{top: 0px; left: 0px;}
.c_h2_box > h2:nth-child(2){top: 50%; right: 0px; transform: translateY(-50%);}
.c_h2_box > h2:last-child{bottom: 0px; left: 0px;}

.contact > span{
  position: absolute;
  bottom: 40%;
  right: 17%;
  text-align: right;
  color: #fff;
  font-size: 18px;
  line-height: 40px;
  transition: 0.7s;
}

.contact > a{
  position: absolute;
  width: 300px;
  height: 40px;
  background: rgba(0, 0, 0,.6);
  color: #fff;
  font-size: 18px;
  padding: 12px 50px;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  right: 17%;
}
.contact > a:hover{background: rgba(0, 0, 0,.3)}
.git{bottom: 25%; transition: 1s;}
.res{bottom: 14%; transition: 1.2s;}




/* .con_list{background: #191919;} */
.con_list > div{
  position: absolute;
  top: 47%; left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1250px;
  box-sizing: border-box;
}
.con_list > div > dl{color: #fff; width: 600px; margin: 70px 0px; padding-left: 150px; box-sizing: border-box;}
.con_list > div > dl > dt{font-size: 25px;}
@keyframes icon{
  0%{transform: translateX(0px);}
  50%{transform: translateX(100px);}
  100%{transform: translateX(0px);}
}
.con_list > div > dl > dd:nth-child(2){font-size: 40px; margin: 50px 0px 35px 0px;}
.con_list > div > dl > dd:last-child{font-size: 21px; font-weight: lighter; line-height: 35px;}

.enjoy{
  position: absolute;
  bottom: 15px; right: 15%;
  color: #FBF8F1;
  letter-spacing: 3px;
}


footer{position: relative;}
footer > address{
  position: absolute;
  left: 1%; top: 0px;
  transform: translateY(-30px);
  color: #fff;
  font-family: "Noto Sans KR";
  font-weight: lighter;
  letter-spacing: 3px;
}



