
html, body{transition: 0.5s; background: #000;}

/* main */
.intro{
  width: 100%; height: 100vh; 
  position: relative; 
  text-align: center; 
}
.info{
  color: rgba(255, 255, 255, .5);
  padding: 10px 15px;
  border-radius: 30px;
  position: absolute;
  top: 3%; left: 1%;
  font-size: 14px;
  background: #000;
}
.info > i{border-radius: 50%; border: 2px solid rgba(255, 255, 255, .5); padding: 4px 8px; font-size: 14px;}
.in_txt{
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  font-size: 8vw;
  position: absolute;
  font-family: "Cinzel";
  font-weight: 500;
  letter-spacing: 15px;
  z-index: 2;
}
.port, .web{text-shadow: 0 0 1px #000; transition: 0.05s;}
.port{top: 100px; left: 50%; transform: translateX(-50%);}
.hi{
  top: 50%; left: 50%;
  transform: translate(-50%, -50%); 
  display: block; 
  font-family: "Oleo Script"; 
  font-weight: 600; 
  font-size: 15vw; 
  z-index: 10; 
  color: #1b1ec3;
  text-shadow: 0 0 10px #1b1ec3;
}
  /* background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    153deg,
    #1b1ec3,
    #1b1ec3 30%,
    #4446c2 50%,
    #1b1ec3 70%,
    #1b1ec3
  );
  background-size: 100% 300%;
  background-position-y: 0%;
  animation: gradient 5s ease-in-out forwards infinite;
/* @keyframes gradient {
  from {background-position-y: 0%;}
  to {background-position-y: 100%;}
} */

.web{bottom: 100px; right: 50%; transform: translateX(50%);}

.metal{position: absolute; transition: 0.5s;}
.metal > img{width: 200px;}
.dia{top: 10px; right: 580px; transform: rotate(195deg); animation: dia 2s infinite;}
.flo{top: 120px; left: 290px; transform: rotate(250deg); animation: flo 5s infinite;}
.mark{bottom: 20px; right: 100px; transform: rotate(10deg); animation: mark 4s infinite;}

@keyframes dia{
  0%{top: 7px;}
  50%{top: 17px;}
  100%{top: 7px;}
}
@keyframes flo{
  0%{transform: rotate(250deg);}
  50%{transform: rotate(230deg);}
  100%{transform: rotate(250deg);}
}
@keyframes mark{
  0%{width: 200px;}
  50%{width: 190px;}
  100%{width: 200px;}
}



article{width: 100%; height: 100vh; position: relative;}



/* profile */
.pro_ment > h2{
  width: 100%;
  position: absolute;
  top: 48%; left: 51%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3.5vw;
  line-height: 200px;
  text-transform: uppercase;
}
.pro_ment > span{
  padding: 12px 15px;
  font-size: 18px;
  background: #1b1ec3;
  border-radius: 30px;
  color: #fff;
  letter-spacing: 5px;
  position: absolute;
}
.pro_ment > span:nth-child(2){top: 27%; left: 3%; transform: rotate(-10deg);}
.pro_ment > span:nth-child(3){top: 50%; left: 39%; transform: rotate(7deg);}
.pro_ment > span:nth-child(4){top: 67%; left: 7%; transform: rotate(3deg);}
.pro_ment > span:nth-child(5){top: 37%; left: 34%;}
.pro_ment > span:nth-child(6){top: 51%; left: 1%; transform: rotate(-8deg);}
.pro_ment > span:nth-child(7){top: 60%; left: 55%; transform: rotate(-3deg);}

.me_tstart{
  width: 70px;
  position: absolute;
  top: 12%; right: 26%;
  animation: au 3s infinite;
}
@keyframes au{
  0%{transform: rotate(-15deg);}
  15%{transform: rotate(-5deg);}
  30%{transform: rotate(-15deg);}
  45%{transform: rotate(-5deg);}
  100%{transform: rotate(-15deg);}
}

.pro_in{
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 5px;
  color: #fff;
  display: inline-block;
  padding: 30px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: absolute;
  top: 12%; right: 9%;
}
.pro_in_down{
  position: absolute;
  top: 30%; right: 10%;
  color: #fff;
  border: 1px solid #fff;
  background: #000;
  padding: 7px 15px;
  border-radius: 30px;
  transform: rotate(5deg);
  cursor: pointer;
  animation: see 1.5s infinite;
}
.pro_in_down:hover{
  background: #fff;
  border: 1px solid #fff;
  color: #000;
  animation: none;
  transition: .5s;
}
@keyframes see{
  0%{box-shadow: none;}
  50%{box-shadow: 0 0 10px #fff;}
  100%{box-shadow: none;}
}

.more_pro_wrap{
  width: 60%;
  position: absolute;
  top: 10%; left: 7%;
  display: flex;
  justify-content: space-around;
}

.more_pro{
  width: 100%;
  padding: 12px;
  color: #fff;
  display: none;
}
.more_pro > h2{
  font-size: 3vw;
  margin-bottom: 50px;
  color: #fff;
}
.more_pro > dl > dt{
  font-size: 21px; 
  margin: 50px 0px 20px 0px; 
  line-height: 35px; 
  background: #1b1ec3; 
  border-radius: 30px; 
  padding: 1px 12px; 
  display: inline-block;
}
.more_pro > dl > dd{
  font-size: 16px; 
  line-height: 27px; 
  margin: 5px 0px 10px 0px;
}
.more_pro > dl > dd > p{width: 110px; display: inline-block;}
.more_pro > dl > dd > span{color: rgba(255, 255, 255, .5);}

.skill{transform: translateY(100px);}
.skill > dl > dd{margin-bottom: 15px;}

.bar{
  background: #ccc;
  width: 160px; height: 13px;
  border-radius: 30px;
  display: inline-block;
  margin: 0px 20px;
  transform: translateY(7px);
}
.bar > span{
  width: 0%;
  height: 100%;
  display: inline-block; 
  background: #1b1ec3;
  border-radius: 30px;
  transform: translateY(-6px);
  transition: 2s;
}

.hi_img{
  position: absolute;
  bottom: 21%; right: 10%;
  text-align: center;
  display: none;
}
.hi_img > img{width: 200px; transform: translateY(14px);}
.hi_img > p{color: #fff; margin-top: 50px; font-size: 18px; transform: translateX(15px);}








/* project */
/* .tab{
  width: 80%; height: 70px; 
  display: flex; 
  justify-content: space-around; 
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  z-index: 100;
  margin: 0px auto;
}
.tab > li{
  color: #fff; 
  line-height: 70px; 
  width: 100%; 
  text-align: center;
  font-size: 21px;
  display: block;
  cursor: pointer;
  border-radius: 100px;
}
.tab > li:hover{background: rgb(255, 255, 255, .1);}
.on{
  position: fixed;
  transform: translateX(-50%);
  top: 0px; left: 50%;
} */



section{
  width: 100%; height: 100vh;
  text-align: center;
  position: relative;
  z-index: 10;
}
section > ul{
  /* background: #ff0; */
  width: 100%; height: 330px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%; transform: translateY(-50%);
}

section > ul > li:first-child{
  position: relative; 
  width: 50%;
  z-index: 500;
  /* animation: project 2s; */
}
section > ul > li:first-child img{
  position: absolute; 
  text-align: center;
  width: 90%;
  top: -20px; 
  left: 17%;
}
.gre_mok{transition: 2s;}
.lush_mok{transition: 2s;}
.wat_mok{transition: 2s;}
.via_mok{transition: 2s;}





section > ul > li:last-child{width: 50%; position: relative; color: #fff;}
section > ul > li:last-child > span.num{position: absolute; top: -25%; left: 50%; transform: translateX(-50%); font-size: 1.5vw; font-family: "Cinzel"; }
section > ul > li:last-child > h2{text-transform: uppercase; font-size: 40px; font-weight: lighter;}
section > ul > li:last-child > p{font-size: 18px; margin-top: 20px; background: #1b1ec3; padding: 7px 12px; border-radius: 30px; display: inline-block;}
section > ul > li:last-child > span{font-size: 16px; line-height: 30px; position: absolute; top: 40%; left: 50%; transform: translateX(-50%);}
section > ul > li:last-child > div{position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%);}
section > ul > li:last-child > div > a{border: 1px solid rgba(255, 255, 255, .7); color:#fff; padding: 12px 25px; border-radius: 30px; margin: 0px 10px; font-size: 18px;}

section > ul > li:last-child > div > a:hover{background: rgba(255, 255, 255, .3);}

section > ul > li:last-child > .use{position: absolute; bottom: 30%; color: rgba(255, 255, 255, .5); font-weight: normal;}

.africa{transition: 0.5s;}






/* clone coding */
.clone > h2{
  width: 100%;
  font-size: 170px;
  position: absolute;
  text-transform: uppercase;
  font-weight: bold;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(251, 247, 239, .1);
  text-align: center;
  /* text-shadow: 0 0 3px rgba(251, 247, 239, .1); */
}
.clone_wrapper{display: flex; justify-content: space-evenly; width: 100%; height:600px; position: absolute; top: 50%; transform: translateY(-50%);}
.clone_inner{width: 40%; height: 100%; position: relative;}
.clone_inner > p{padding: 10px 5px; font-size: 21px; color: #FBF8F1; }
.clone_inner > span{padding: 5px 5px; font-size: 16px; color: #999; }
.clone_inner > ul > li >  button{
  width: 110px; height: 35px;
  border: 1px solid rgba(251, 248, 241, .3);
  background: transparent;
  color: #FBF8F1;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  border-radius: 30px;
  text-transform: uppercase;
  margin: 25px 7px;
  display: inline;
  position: absolute;
  top: 75px;
}
.clone_inner > ul > li:first-child >  button{left: 0px;}
.clone_inner > ul > li:nth-child(2) >  button{left: 130px;}
.clone_inner > ul > li:last-child >  button{left: 260px;}
.africa > ul > li:last-child > button{left: 130px;}
.clone_inner > ul > li >  button:hover{background: rgba(233, 230, 223, .1);}

.btn_cli{background: rgba(251, 248, 241, .3) !important;}

.clone_img{
  width: 100%; height: 75%;
  position: absolute;
  bottom: -20px; left: 0px;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
}
.clone_inner > ul > li:nth-child(2) > .clone_img{display: none;}
.clone_inner > ul > li:last-child > .clone_img{display: none;}


.c_pc{width: 100%;}
.c_pad{height: 100%;}
.c_mob{height: 80%; margin-top: 50px; z-index: 10 !important;}

.s_scr > img{width: 100%; position: absolute; top: 0px; left: 0px;}
.c_pc_screen{
  width: 585px; height: 373px;
  position: absolute;
  top: 27px; left: 88px;
  background: #ff0;
  border-radius: 3px;
  overflow: hidden;
}
.c_tab_screen{
  width: 285px; height: 405px;
  position: absolute;
  bottom: 25px; left: 237px;
  background: #0f0;
  border-radius: 5px;
  overflow: hidden;
}
.c_mobile_screen{
  width: 155px; height: 341px;
  position: absolute;
  bottom:50px; left: 302px;
  background: #f00;
  border-radius: 10px;
  overflow: hidden;
}




.clone_inner > a{
  position: absolute;
  top: 17%; right: 3%;
  /* background: rgba(255, 255, 255,.5); */
  width: 40px; height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
}
.clone_inner > a > i{color: #fff; font-size: 18px;}
.clone_inner > a:hover i{animation: right 2s infinite;}

@keyframes right{
  from{transform: translateX(-12px);}
  to{transform: translateX(12px);}
}

.on2{
  position: fixed !important;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}



/* uxui 디자인 */
.ix{padding: 3% 0px; box-sizing: border-box;}
.ix h2{
  font-size: 4vw; 
  font-weight: bold;
  padding: 0px 0px 30px 3%;
  /* display: block; */
  transition: 0.5s;
}

.ix > span{border: 1px solid #000; border-radius: 30px; padding: 7px 12px; background: #F4F3EF; position: absolute; top: 28%;}
.ix > span:nth-child(2){right: 470px; transform: rotate(-5deg); z-index: 2;}
.ix > span:nth-child(3){right: 365px; transform: rotate(-2deg);}
.ix > span:nth-child(4){right: 260px; transform: rotate(3deg); z-index: 2;}
.ix > span:nth-child(5){right: 180px; transform: rotate(0deg); background: #000; color: #F4F3EF; z-index: 3; cursor: pointer;}
.ix > span:nth-child(5):hover{background: rgba(0, 0, 0, .8);}

.ix > p{
  position: absolute;
  top: 15%; right: 10%;
  text-align: right;
  letter-spacing: 5px;
  line-height: 25px;
  font-family: 'IBM Plex Sans KR';
}

.ix > div{position: absolute; top: 65%; left: 3%; font-size: 1vw; font-family: "Cinzel"; font-weight: bold;}

.ix > ul{
  width: 85%; 
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 8%; right: 3%;
}
.ix > ul > li{
  width: 22%; height: 450px; 
  border: 1px solid #ccc; 
  border-radius: 20%; 
  margin-top: 30px; 
  position: relative; 
  background: #fff;
  overflow: hidden;
  cursor: pointer;
}
.ix > ul > li > img{
  width: 100%;
  opacity: 0.5;
}
.ix_img{
  width: 90% !important;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  opacity: 1 !important;
  transition: .5s;
}
.short{opacity: 0 !important; transition: .5s;}

.ix > ul > li:hover .ix_txt{opacity: 1;}
.ix > ul > li:hover .ix_img{opacity: 0 !important;}
.ix > ul > li:hover .short{opacity: 1 !important;}

.ix > ul > li > p{
  font-size: 6vw;
  position: absolute; bottom: -20px; left: -20px;
  font-family: "Oleo Script";
  color: #F4F3EF;
  text-shadow: 0 0 2px #000;
}
.ix > ul > li > span{
  font-size: 1vw;
  color: #000;
  position: absolute;
  top: 40px; left: 30px;
  z-index: 100;
}
.ix_txt{
  background: rgba(245, 244, 240, .8);
  width: 100%; height: 100%;
  line-height: 30px;
  border-radius: 20%;
  position: absolute;
  top: 0px; left: 0px;
  opacity: 0;
  transition: .5s;
}

.ix_txt > span{
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #888;
  position: absolute;
  top: 80px;
  left: 25px;
}
.ix_txt > p{
  width: 85%;
  font-family: "Noto Sans KR";
  color: #555;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.ix > ul > li .hover{
  position: absolute;
  top: 85%; left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: #F4F3EF;
  box-shadow: 0 0 3px #f4f3efcd;
  width: 40px; height: 40px;
  text-align: center;
  display: block;
  transition: .5s;
}
.ix > ul > li .hover > img{
  height: 90%;
  transform: translate(8px, 12px) rotate(-13deg);
  opacity: .3;
}

.ix > ul > li:hover .hover{display: none;}